*{
    margin: 0px;
    padding: 0px;

}
h1{
    display: inline;
    background-color: yellow;
    position: relative;
    left: 750px;
    
    border: 2px solid red;
    border-radius: 5px;

    
}
#red{
    background-color: red;
    display: inline;
    position: relative;
    cursor: pointer;
    
}
#blue{
    background-color: blue;
    display: inline;
    position: relative;
    cursor: pointer;

}
#green{
    background-color: green;
    display: inline;
    position: relative;
    cursor: pointer;
}
#yellow{
    background-color: yellow;
    display: inline;
    position: relative;
    cursor: pointer;
}